/* Цвет основного текста #212121; */
/* Вторичний цвет текста #757575 */
/* белый #FFFFFF */
/* акцент #2196F3 */
/* белый с прозрачностью rgba(255, 255, 255, 0.6); */
/* лого верхнее чисто черный 000000 */
/* основной фон белый #F5F4FA */
/* вторичный фон #2F303A; */

:root {
    --title-text-color: #212121;
    --acent-text-color: #2196F3;
    --secondary-text-colar: #757575;
    --black-text-color: #000000;
    --white-text-color: #FFFFFF;
    --secondary-background-color: #2F303A;
    --primery-background-color: #F5F4FA;
    --cont-list-colar: rgba(255, 255, 255, 0.6);
    --bg-buttom-colar: #188CE8;
    --br-header-colar: #ECECEC;
    --br-card-colar: #EEEEEE;
    --soc-main-colar: #AFB1B8;
    
}

/* Normalize */

html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}



body{
    color: var(--secondary-text-colar);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    
}

.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* Убираю точки в списках */
ul{
    list-style: none;
    padding-left: 0;
}


/* Header */

header{
    border-bottom: 1px solid var(--br-header-colar);
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

.main-div{
    align-items: center;
    display: flex;
}

.main-nav{
    align-items: center;
    display: flex;
}

/* logo */
.logo{
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.logo .logo-start{
    color: var(--acent-text-color);
}

.logo .logo-end{
    color: var(--black-text-color);
}

/* site nav */
.site-nav{
    margin-left: 93px;
    display: flex;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}


.site-nav .item:not(:last-child){
    margin-right: 50px;
}

.site-nav a{
    text-decoration: none;
}

.site-nav .link{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus{
    color: var(--acent-text-color);
}

.site-nav .link.current{
    color: var(--acent-text-color);
}

/* контакты */
.site-contacts{
    margin-left: auto;
    display: flex;
    padding: 0;

}

.site-contacts .item + .item{
    margin-left: 50px;
}

.site-contacts a{
    text-decoration: none;
}

.site-contacts .contacts-link{
    color: var(--secondary-text-colar);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.site-contacts .contacts-link:hover,
.site-contacts .contacts-link:focus{
    color: var(--acent-text-color);
}

/* hero */
.hero.section{
    margin-left: auto;
    margin-right: auto;
    max-width: 1600px;
    height: 600px;
    text-align: center;
    background-color: var(--secondary-background-color);
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
        url(../images/backimg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-title{
    margin-top: 0;
    margin-bottom: 30px;
    color: var(--white-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}


/* секции */
.section{
    padding-top: 94px;
    padding-bottom: 94px;
}



.section-title{
    margin-top: 0;
    margin-bottom: 50px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    text-transform: none;
}

.section.we-do{
    padding-top: 0;
}

.section-list{
    justify-content: space-between;
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.section-list .section-img:not(:last-child){
    margin-right: 30px;
}



.section-title-none{
    display: none;
}

/* features */
.list{
    margin-top: 0;
    margin-bottom: 10px;
}

.feature{
    justify-content: space-between;
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.feature .feature-list:not(:last-child){
    margin-right: 30px;
}



.feature .list{
    width: 270px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.feature-icon{
    display: flex;
    height: 120px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    background-color: var(--primery-background-color);
}

.feature-svg{
    height: 70px;
    width: 70px;
}



.text-list{
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;  
}

/* workers */
.section.our-team{
   background-color: var(--primery-background-color); 
}


.worker-list{
    justify-content: space-between;
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

.team-list{
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background: var(--white-text-color);
}

.worker-list .team-list:not(:last-child){
    margin-right: 30px;
    
}

.worker-photo{
    margin-bottom: 30px;
}



.worker-list .worker{
    color: var(--title-text-color);
}

.worker-photo{
    margin-bottom: 30px;
}


.worker{
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
        
}

.work-position{
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18; 
}

.social{
    display: flex;
    width: 206px;
    height: 44px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    margin-bottom: 30px;
}

.social a{
    display: block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    padding: 12px;
    fill: var(--soc-main-colar);
}

.social a:hover,
.social a:focus{
    border-radius: 50%;
    color: var(--white-text-color);
    background-color: var(--acent-text-color);
    fill: var(--white-text-color);
}

.social .social-links:not(:last-child){
    margin-right: 10px;
}

.soc{
    width: 20px;
    height: 20px;
}





/* fotter */

footer{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--secondary-background-color);
}

/* fotter-logo */
.logo-footer{
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;       
}


.logo-footer .logo-footer-start{
    color: var(--acent-text-color);
}

.logo-footer .logo-footer-end{
    color: var(--white-text-color);
}

/* fotter-contacts */
.contacts-nav{
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 0;
    padding-left: 0;
}

.contacts-nav .footer-list:not(:last-child){
    margin-bottom: 9px;
}


.contacts-nav a{
    text-decoration: none;
}

.contacts-nav .place-list{
    color: var(--white-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;   
}

.contacts-nav .place-list:hover,
.contacts-nav .place-list:focus{
    color: var(--acent-text-color);
}

.contacts-nav .cont-list{
    color: var(--cont-list-colar);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;     
}

.contacts-nav .cont-list:hover,
.contacts-nav .cont-list:focus{
    color: var(--acent-text-color);
}

address{
    font-style: normal;
    
}

button{
    padding: 10px 32px;
    background-color: var(--acent-text-color);
    color: var(--white-text-color);
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    border: none;
    border-radius: 4px;
    letter-spacing: 0.06em;
}

button:hover,
button:focus{
    background-color: var(--bg-buttom-colar);
}



/* PORTFOLIO */

/* Кнопки в портфолио */
.button-nav{
    justify-content: center;
    display: flex;
    margin-top: 0;
    margin-bottom: 50px;
}



.button-nav .button-list{
    padding-left: none;
    padding: 6px 22px;
    background: var(--primery-background-color);
    color: var(--title-text-color);
    cursor: pointer;
    font-family: inherit;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
}

.but-link{
    margin-right: 8px;
}

.but-link:nth-child(5n){
    margin-right: 0;
}



.button-list:hover,
.button-list:focus{
    background-color: var(--acent-text-color);
    color: var(--white-text-color);

}

.button-list.current{
    background-color: var(--acent-text-color);
    color: var(--white-text-color);
}


/* Projects */
.container .projects{
    display: flex;
    flex-wrap: wrap;
}


.project-work{
    margin-right: 30px;
    margin-bottom: 30px;
    width: 370px;
}

.project-work:nth-child(3n){
    margin-right: 0;
}

.project-work:nth-last-child(-n + 3){
    margin-bottom: 0;
}



.projects{
    margin-top: 0;
    margin-bottom: 0;
}

.projects-photo {
    
    
    border-left: none;
    
}

.card-bottom{
    padding: 20px 24px;
    border-left: 1px solid var(--br-card-colar);
    border-right: 1px solid var(--br-card-colar);
    border-bottom: 1px solid var(--br-card-colar);
}

.project-title{
    margin-top: 0;
    margin-bottom: 4px;
    
}


.projects .project-title{
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.project-list{
    margin-top: 0;
    margin-bottom: 0;
    color: var(--secondary-text-colar);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;  
}